/* 

""
hg
'' 

*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #87ceeb 0%, #336b8e 100%);
  min-height: 100vh;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* //////////////////////////////////////////////////////////////// NAVBAR //////////////////////////////////////////////////////////////// */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400;
  margin: 0 45px;
  padding: 0px;
}

.logo {
  margin: 0;
  font-size: 38px;
}

nav h1 {
  cursor: default;
}

nav .nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links li a {
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
  text-decoration: dashed;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #0379a8;
}

/* ////////////////////////////////////////////////////////////// ABOUT PAGE /////////////////////////////////////////////////////////////// */

#head-top {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed #030500;
  padding: 20px;
  margin: 0 0 40px 0;
  font-size: 30px;
}

header h1 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  color: black;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

#about-body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}

#main-content {
  margin-top: 20px;
  margin-left: 250px;
}

.links {
  color: black;
}

/* //////////////////////////////////////////////////////////////// STATE-NAME-BOX ////////////////////////////////////////////////////////////////// */

.popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  pointer-events: none;
}

/* ///////////////////////////////////////////////////////////////// ENDS ////////////////////////////////////////////////////////////////// */
