/* 

""
hg
'' 

*/

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #india-map {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
} */

#india-map:hover {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  fill-opacity: 0.7;
}

/* #INDL {
  
} */
